<!DOCTYPE html>
<html>

<head>
	<%user = typeof user !== "undefined" ? user: {}%>
	<%obj = typeof obj !== "undefined" ? obj: {}%>
	<%objects = typeof objects !== "undefined" ? objects: []%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>b i o g r a f o</title>
    <meta name="twitter:image" content="assets/img/camera-photography-technology-reflection-122400.jpg">
    <meta name="twitter:title" content="b i o g r a f o">
    <meta property="og:type" content="website">
    <meta name="description" content="Genera arte y compra objetos por recuerdos.">
    <meta property="og:image" content="assets/img/camera-photography-technology-reflection-122400.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Genera arte y compra objetos por recuerdos">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="index.html">b i ó g r a f o &nbsp; i m a g i n a r i o</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="objetos.html">objetos a la v e n t a<br></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="recuerdos.html">recuerdos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/biografia.html">biografía</a></li>
					<%if (isLoggedIn) {%>
						<li class="nav-item" role="presentation"><a class="nav-link" href="#">mi perfil</a></li>
					<% } %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="aboutUs.html">sobre nosotros</a></li>
                </ul>
				<span class="navbar-text actions">
				<%if (! isLoggedIn) { %>
					<a class="login" href="logIn.html">Log In</a>
					<a class="btn btn-light action-button" role="button" href="signUp.html" style="background-color: #030000;">Registrarse</a>
				<% } else { %>
					<a class="login" href="/logout">Log Out</a>
				<% }%>
				
				</span>
				</div>
        </div>
    </nav>
    <div class="card"></div>
    <div>
        <div class="container bg-light shadow">
            <div class="row">
			<%
			allVids.forEach((vid) => { 
				if(vid.isTranscripted){
				trans = JSON.parse(vid.transcription);
				console.log(trans);
					%>
					
						<p><%= trans[Math.floor(Math.random() * trans.length)];%></p>
						<br />
					<%
					}
				});
                %>

        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>