<html>
<head>
	<script>
	<%user = typeof user !== "undefined" ? user: {}%>
	<%obj = typeof obj !== "undefined" ? obj: {}%>
	<%objects = typeof objects !== "undefined" ? objects: []%>
	</script>
	<script type="text/javascript" src="https://biografo.mrossw.webfactional.com/js/jquery.jcarousel.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>b i o g r a f o</title>
    <meta name="twitter:image" content="assets/img/camera-photography-technology-reflection-122400.jpg">
    <meta name="twitter:title" content="b i o g r a f o">
    <meta property="og:type" content="website">
    <meta name="description" content="Genera arte y compra objetos por recuerdos.">
    <meta property="og:image" content="assets/img/camera-photography-technology-reflection-122400.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Genera arte y compra objetos por recuerdos">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="https://biografo.mrossw.webfactional.com/css/rightbar.css">
	<link rel="stylesheet" type="text/css" media="screen" href="https://biografo.mrossw.webfactional.com/css/global.css">
	<link rel="stylesheet" type="text/css" media="screen" href="https://biografo.mrossw.webfactional.com/css/topnav.css">
	<link rel="stylesheet" type="text/css" media="screen" href="https://biografo.mrossw.webfactional.com/css/bottomnav.css">
	<link rel="stylesheet" type="text/css" media="screen" href="https://biografo.mrossw.webfactional.com/css/paginator.css">
	<link rel="stylesheet" type="text/css" media="screen" href="https://biografo.mrossw.webfactional.com/css/home.css">
			<style>
			/*
			This is the visible area of you carousel.
			Set a width here to define how much items are visible.
			The width can be either fixed in px or flexible in %.
			Position must be relative!
			*/
			.jcarousel {
				position: relative;
				overflow: hidden;
			}

			/*
			This is the container of the carousel items.
			You must ensure that the position is relative or absolute and
			that the width is big enough to contain all items.
			*/
			.jcarousel ul {
				width: 10000em;
				position: relative;

				/* Optional, required in this case since it's a <ul> element */
				list-style: none;
				margin: 0;
				padding: 0;
			}

			/*
			These are the item elements. jCarousel works best, if the items
			have a fixed width and height (but it's not required).
			*/
			.jcarousel li {
				/* Required only for block elements like <li>'s */
				float: left;
			}
			</style>
</head>
<body>
	<div id="user_widget">
		<%if (isLoggedIn) {%>
			<a href="/logout">Cerrar Sesión</a>
		<% } else {%>
			<a href="logIn.html">Iniciar sesión</a> o <a href="signUp.html">Registrarse</a></div>
		<% }%>
	</div>
	<div id="topnav">
		<div class="logo">
			<a href="/index.html"><span>biógrafo imaginario</span> o proyecto automático de recambio de recuerdos:
		</div>
		<a class="objects" href="objetos.html">objetos </a>
		<a class="memento" href="recuerdos.html">/ recuerdos </a>
		<a class="video" href="biografia.html">/ biografía </a>
	</div>
	<div id="home">
		<div id="show_images" class="jcarousel" data-jcarousel="true" data-jcarouselautoscroll="true">
			<ul id="show_images_ul" style="left: -280px; top: 0px;">
			<% 
			objects.forEach( function(obj){ 
				let img = JSON.parse(obj.images)[0];
			%>
				<li>
					<a href="/object?objectID=<%=obj.objectID%>">
						<img  src="<%=img %>" alt="<%=obj.title%>">
					</a>
				</li>
			<% }); %>
		</div>  
	</div>
	<br>
	<div class="footnote" style="text-align: right"><!--  -->
		Estos objetos están a la venta. Su precio no es dinero,<br> sino la invención de nuevos recuerdos. ver <a href="https://biografo.mrossw.webfactional.com/index.php/home/howto">como funciona </a>
	</div>
	<br>
	<br>
	<div id="bottomnav">
		<a class="quees" href="quees.html">¿qué es? </a><a class="howto" href="quees.html">/ ¿como funciona? </a><a class="faq" href="quees.html">/ preguntas frecuentes </a><a class="helpus" href="quees.html">/ ayudanos </a><a class="contact" href="quees.html">/ contacto </a><a class="autocine" href="">/ cine automatico </a>
	</div>
	<br>
</body>
