<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>b i o g r a f o</title>
    <meta name="twitter:image" content="assets/img/camera-photography-technology-reflection-122400.jpg">
    <meta name="twitter:title" content="b i o g r a f o">
    <meta property="og:type" content="website">
    <meta name="description" content="Genera arte y compra objetos por recuerdos.">
    <meta property="og:image" content="assets/img/camera-photography-technology-reflection-122400.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Genera arte y compra objetos por recuerdos">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="index.html">b i ó g r a f o &nbsp; i m a g i n a r i o</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="objetos.html">objetos a la v e n t a<br></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="recuerdos.html">recuerdos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">biografía</a></li>
					<%if (isLoggedIn) {%>
						<li class="nav-item" role="presentation"><a class="nav-link" href="#">mi perfil</a></li>
					<% } %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="aboutUs.html">sobre nosotros</a></li>
                </ul>
				<span class="navbar-text actions">
				<%if (! isLoggedIn) { %>
					<a class="login" href="logIn.html">Log In</a>
					<a class="btn btn-light action-button" role="button" href="signUp.html" style="background-color: #030000;">Registrarse</a>
				<% } else { %>
					<a class="login" href="/logout">Log Out</a>
				<% }%>
				
				</span>
				</div>
        </div>
    </nav>
    <div>
        <form style="background-color: rgb(228,228,228);padding-top: 30px;margin-left: 4%;margin-right: 4%;" action="/signUp" method="POST">
            <div class="form-group"><label style="margin-left: 8%;margin-right: 3%;max-width: 900px;min-width: 110px;width: 30%;">* email<input class="shadow form-control" type="text" name="username" placeholder="email" autofocus="" inputmode="email" required="" minlength="5" maxlength="64" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autocomplete="on"></label></div>
            <div
                class="form-group"><label style="margin-left: 8%;margin-right: 3%;max-width: 900px;min-width: 110px;width: 30%;">* repetir_email<input class="shadow form-control" type="text" name="username" placeholder="confirmar_email" autofocus="" inputmode="email" required="" minlength="5" maxlength="64" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autocomplete="off"></label></div>
    <div
        class="form-group"><label style="margin-left: 8%;margin-right: 3%;max-width: 900px;min-width: 110px;width: 30%;">* contraseña<input class="shadow form-control" type="password" placeholder="contraseña" name="password" required="" minlength="6" maxlength="64"></label></div>
        <div
            class="form-group"><label style="margin-left: 8%;margin-right: 3%;max-width: 900px;min-width: 110px;width: 30%;">* repetir_contraseña<br><input class="shadow form-control" type="password" placeholder="repetir_contraseña" minlength="6" maxlength="64" required=""></label></div>
            <hr>
            <div class="form-group"><label style="margin-left: 8%;margin-right: 3%;max-width: 900px;min-width: 110px;width: 135%;">* edad<input class="shadow form-control" type="text" style="width: 200px;" placeholder="edad" minlength="1" maxlength="2" pattern="[[:digit:]]+" required=""></label></div>
            <div
                class="form-group"><label style="margin-left: 8%;margin-right: 3%;width: 135%;min-width: 110px;max-width: 900px;">* sobre_mi<input class="shadow form-control" type="text" style="min-height: 76px;max-height: 300px;max-width: 900px;min-width: 110px;width: 135%;" placeholder="datos_curiosos" required="" minlength="1"></label></div>
                <hr>
                <div class="form-group"><button class="btn btn-primary shadow" type="submit" style="margin-left: 60%;margin-right: 3%;background-color: rgb(0,0,0);">registrarse</button></div>
                <p>&nbsp; &nbsp;&nbsp;</p>
                </form>
                </div>
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>