<html>
	<head>
		<title><%= title %> </title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<video controls="true" type='video/mp4' src="<%= "/uploads"+ videoURL %>" preload="metadata" playsinline>
    	</video>
	</body>
</html>