@CHARSET "UTF-8";
div#topnav {
    text-align: left;
    margin: 0 auto 0 auto;
    width: 1000px;
}

div#topnav a {
    color: #000000;
    font-weight: bold;
    display: inline;
    background-color: #ffffff;
    text-transform: lowercase;
    padding: 0px;
    line-height: normal;
    font-size: 24px;
}

div#topnav span {
    color: #ffffff;
    font-weight: bold;
    display: inline;
    background-color: #000000;
    text-transform: lowercase;
    padding: 0px;
    line-height: normal;
    font-size: 24px;
}

div#topnav a.objects:link,
div#topnav a.objects:visited {
    background-color: #000000;
    color: #ffffff;
}

div#topnav a.objects:hover,
div#topnav a.objects.selected {
    background: #ff0000 none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.memento:link,
div#topnav a.memento:visited {
    background-color: #000000;
    color: #ffffff;
}

div#topnav a.memento:hover,
div#topnav a.memento.selected {
    background: #66cc00 none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.video:link,
div#topnav a.video:visited {
    background-color: #000000;
    color: #ffffff;
}

div#topnav a.video:hover,
div#topnav a.video.selected {
    background: #ff00ff none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.sale:link,
div#topnav a.sale:visited {
    background-color: #ffffff;
    color: #000000;
}

div#topnav a.sale:hover,
div#topnav a.sale.selected {
    background: #ff0000 none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.auction:link,
div#topnav a.auction:visited {
    background-color: #ffffff;
    color: #000000;
}

div#topnav a.auction:hover,
div#topnav a.auction.selected {
    background: #66cc00 none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.about:link,
div#topnav a.about:visited {
    background-color: #000000;
    color: #ffffff;
}

div#topnav a.about:hover,
div#topnav a.about.selected {
    background: #CCCCCC none repeat scroll 0% 0%;
    color: #FFFFFF;
}

div#topnav a.howto:link,
div#topnav a.howto:visited {
    background-color: #000000;
    color: #ffffff;
}

div#topnav a.howto:hover,
div#topnav a.howto.selected {
    background: #3399ff none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.sold:link,
div#topnav a.sold:visited {
    background-color: #ffffff;
    color: #000000;
}

div#topnav a.sold:hover,
div#topnav a.sold.selected {
    background: #ffff00 none repeat scroll 0% 0%;
}

div#topnav a.closing:link,
div#topnav a.closing:visited {}

div#topnav a.closing:hover,
div#topnav a.closing.selected {
    background: #ff00ff none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.terms:link,
div#topnav a.terms:visited {
    background-color: #ffffff;
    color: #000000;
}

div#topnav a.terms:hover,
div#topnav a.terms.selected {
    background: #0033ff none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.payment:link,
div#topnav a.payment:visited {
    background-color: #ffffff;
    color: #000000;
}

div#topnav a.payment:hover,
div#topnav a.payment.selected {
    background: #990099 none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.register:link,
div#topnav a.register:visited {
    background-color: #ffffff;
    color: #000000;
}

div#topnav a.register:hover,
div#topnav a.register.selected {
    background: #ff9900 none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.faq:link,
div#topnav a.faq:visited {
    background-color: #ffffff;
    color: #000000;
}

div#topnav a.faq:hover,
div#topnav a.faq.selected {
    background: #33ff00 none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.forum:link,
div#topnav a.forum:visited {
    background-color: #000000;
    color: #ffffff;
}

div#topnav a.forum:hover {
    background: #6600cc none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.latest:link,
div#topnav a.latest:visited {
    color: #999999;
    background-color: #ffffff;
}

div#topnav a.latest:hover,
div#topnav a.latest.selected {
    background: #6600cc none repeat scroll 0% 0%;
    color: #ffffff;
}

div#topnav a.project:link,
div#topnav a.project:visited {
    color: #000000;
}

div#topnav a.project:hover,
div#topnav a.project.selected {
    background-color: #33ff00;
    color: #ffffff;
}

div#topnav a.buynow:link,
div#topnav a.buynow:visited {
    background: #ffffff none repeat scroll 0% 0%;
    color: #6600cc;
    font-size: 24px;
    font-weight: bold;
}